doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

    orm:
        mappings:
            App:
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                is_bundle: false